@import "tailwindcss";

:root {
    --reader-top-h: calc(var(--spacing) * 13.1);
    --reader-bottom-h: calc(var(--spacing) * 22.2);

    --color-primary: #101217;
    --color-primary-hover: #1f1217;

    --color-secondary: #171a20;
    --color-secondary-hover: #1f1a20;

    --color-surface: rgb(15 17 21 / 85%);
    --color-hud: #0f1115;
    --color-text: #ffff;
    --color-secondary-text: gray;

    --foreground: #171717;
    --reader-filter: none;
}

@theme {
    --color-secondary-hover: var(--color-secondary-hover);
    --color-surface: var(--color-surface);
    --color-primary: var(--color-primary);
    --color-secondary: var(--color-secondary);
    --color-hud: var(--color-hud);
    --breakpoint-3xl: 150rem;
    --color-text: #ffffff;
    --animate-border-spin: border-spin 4s linear infinite;
}
@theme inline {
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --font-sans: var(--font-geist-sans);
    --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: #0a0a0a;
        --foreground: #ededed;
    }
}
@utility gradient-text {
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

@keyframes border-spin {
    from {
        transform: translate(-50%, -50%) rotate(0deg);
    }
    to {
        transform: translate(-50%, -50%) rotate(360deg);
    }
}

.search-spin::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 300%;
    aspect-ratio: 1 / 1;
    transform: translate(-50%, -50%);
    background: conic-gradient(
        from 0deg,
        transparent 0%,
        #f59e0b 20%,
        transparent 40%
    );
    animation: border-spin 2s linear infinite;
    z-index: 0;
}

dialog::-webkit-scrollbar {
    width: 4px;
}

dialog::-webkit-scrollbar-track {
    background: transparent;
}

dialog::-webkit-scrollbar-thumb {
    background: #404040;
    border-radius: 99px;
}

dialog::-webkit-scrollbar-thumb:hover {
    background: #606060;
}

dialog::-webkit-scrollbar-corner {
    background: transparent;
}

input[type="search"]:focus,
input[type="search"]:focus-visible {
    outline: none;
}
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--font-nunito);
}
button {
    cursor: pointer;
}
body {
    margin: 0;
    background-image: url("@/assets/background.webp");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: #ffff;
    font-family: var(--font-inter);
}
.reader {
    filter: var(--reader-filter, none);
}

.dark {
    --reader-filter: brightness(0.75) contrast(1.1);
}

.sepia {
    --reader-filter: sepia(0.6) contrast(1.1) brightness(0.95);
}

input[type="search"]::-webkit-search-cancel-button {
    visibility: hidden;
}
