@import "tailwindcss";

:root {
    --color-primary: #101217;
    --color-primary-hover: #1f1217;

    --color-secondary: #171a20;
    --color-secondary-hover: #1f1a20;

    --color-surface: rgb(15 17 21 / 85%);
    --color-text: #ffff;
    --color-secondary-text: gray;

    --foreground: #171717;
}

@theme {
    --color-surface: var(--color-surface);
    --color-primary: var(--color-primary);
    --color-secondary: var(--color-secondary);
    --breakpoint-3xl: 150rem;
    --color-text: #ffffff;
}

@theme inline {
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --font-sans: var(--font-geist-sans);
    --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: #0a0a0a;
        --foreground: #ededed;
    }
}
input[type="search"]:focus,
input[type="search"]:focus-visible {
    outline: none;
}
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--font-nunito);
}
body {
    margin: 0;
    background-image: url("@/assets/background.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: #ffff;
    font-family: var(--font-inter);
}
